<div class="jumbotron">
    <span style="float: right">User Name: {{userName}}</span>
  <div class="container">

    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form [formGroup]="supportForm" (ngSubmit)="onSubmit()" class="example-form">

          <div class="form-group">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Category" formControlName="category">
                <mat-option *ngFor="let item of category" [value]="item">
                  {{ item }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="submitted && supportForm.category.errors" class="invalid-feedback">
              <div *ngIf="supportForm.category.errors.required">category is required</div>
            </div>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Amendment Type" formControlName="amendmentType" [(ngModel)]="selectedValue" (change)="onChange(selectedValue)">
                <mat-option *ngFor="let item of amendmentType" [value]="item">
                  {{ item }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="submitted && supportForm.amendmentType.errors" class="invalid-feedback">
              <div *ngIf="supportForm.amendmentType.errors.required">Amendment Type is required</div>
            </div>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Customer ID" formControlName="customerID" class="form-control" [ngClass]="{ 'is-invalid': submitted && supportForm.customerID.errors }" />
            </mat-form-field>
            <div *ngIf="submitted && supportForm.customerID.errors" class="invalid-feedback">
              <div *ngIf="supportForm.customerID.errors.required">Customer ID is required</div>
            </div>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Customer Name" formControlName="customerName" class="form-control" [ngClass]="{ 'is-invalid': submitted && supportForm.customerName.errors }" />
            </mat-form-field>
            <div *ngIf="submitted && supportForm.customerName.errors" class="invalid-feedback">
              <div *ngIf="supportForm.customerName.errors.required">Customer Name is required</div>
            </div>
          </div>
          <div class="form-group" *ngIf="(selectedValue == 'Archiving' || selectedValue == 'Closing')">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Account Number" formControlName="accountNumber" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && supportForm.customerName.errors }" />
            </mat-form-field>
            <div *ngIf="submitted && supportForm.accountNumber.errors" class="invalid-feedback">
              <div *ngIf="supportForm.accountNumber.errors.required">Account Number is required</div>
            </div>
          </div>
          <div class="form-group" *ngIf="(selectedValue == 'Archiving' || selectedValue == 'Closing')">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Product Type" formControlName="productType" class="form-control" [ngClass]="{ 'is-invalid': submitted && supportForm.productType.errors }" />
            </mat-form-field>
            <div *ngIf="submitted && supportForm.productType.errors" class="invalid-feedback">
              <div *ngIf="supportForm.productType.errors.required">Product Type is required</div>
            </div>
          </div>
          <div class="form-group" *ngIf="selectedValue == 'Archiving'">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Reason" formControlName="reason" class="form-control" [ngClass]="{ 'is-invalid': submitted && supportForm.reason.errors }" />
            </mat-form-field>
            <div *ngIf="submitted && supportForm.reason.errors" class="invalid-feedback">
              <div *ngIf="supportForm.reason.errors.required">Reason is required</div>
            </div>
          </div>
          <div class="form-group" *ngIf="selectedValue == 'Closing'">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Amount" formControlName="amount" class="form-control" [ngClass]="{ 'is-invalid': submitted && supportForm.amount.errors }" />
            </mat-form-field>
            <div *ngIf="submitted && supportForm.amount.errors" class="invalid-feedback">
              <div *ngIf="supportForm.amount.errors.required">Amount is required</div>
            </div>
          </div>
          <div class="form-group" *ngIf="selectedValue == 'Closing'">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Description" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && supportForm.description.errors }" />
            </mat-form-field>
            <div *ngIf="submitted && supportForm.description.errors" class="invalid-feedback">
              <div *ngIf="supportForm.description.errors.required">Description is required</div>
            </div>
          </div>
          <div class="form-group" *ngIf="selectedValue == 'Closing'">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Transaction Id" formControlName="transactionId" class="form-control" [ngClass]="{ 'is-invalid': submitted && supportForm.transactionId.errors }" />
            </mat-form-field>
            <div *ngIf="submitted && supportForm.transactionId.errors" class="invalid-feedback">
              <div *ngIf="supportForm.transactionId.errors.required">Transaction Id is required</div>
            </div>
          </div>
          <div class="form-group" *ngIf="selectedValue == 'Closing'">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Transaction Date" formControlName="transactionDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && supportForm.transactionDate.errors }" />
            </mat-form-field>
            <div *ngIf="submitted && supportForm.transactionDate.errors" class="invalid-feedback">
              <div *ngIf="supportForm.transactionDate.errors.required">Transaction Date is required</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" [disabled]="!supportForm.valid" (click)="onSubmit()">Submit</button>
          </div>
        </form>
      </div>
    </div>

    <div *ngIf="showData">
      {{supportForm.value | json}}
    </div>
  </div>
</div>
